@import '../mixins/fontStyle';
@import '../variables/fontFamilt';
@import '../variables/transition';

.main_manu{
   .menu{
       ul{
           margin-right:30px;
           li{
               a{
                @include fntfml(#000,20px,500,$heebo);
                text-transform: capitalize;
                margin:3px 5px;
                transition:$trans ;
                -webkit-transition:$trans ;
                -moz-transition:$trans ;
                -ms-transition:$trans ;
                -o-transition:$trans ;
                &:hover{
                    color:#ff6464;
                }
               }
               
           }
       }
   } 
}

.manu-fix{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 5px #000;
}

