#technologist_part {
    padding: 170px 0 70px;

    .technologist_text {
        h3 {
            @include fntfml(#21243D, 44px, 700, $heebo);
            margin-bottom: 5px;

        }

        h1 {
            @include fntfml(#21243D, 44px, 700, $heebo);
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        p {
            @include fntfml(#21243D, 16px, 400, $heebo);
            margin-bottom: 30px;
            padding-right: 116px;
        }

        a {
            @include fntfml(#fff, 20px, 500, $heebo);
            padding: 0 15px;
            line-height: 50px;
            text-transform: capitalize;
            background: #ff6464;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
        }
    }
    
}